---
interface Props {
  color: string;
  title: string;
  label?: string | undefined;
  name?: string | undefined;
  local?: string | undefined;
  src: string;
  href?: string | undefined;
  alt?: string | undefined;
}
const { title, color, label, name, href, src, alt, local } = Astro.props;
---

<div class="article-wrapper">
  <div class="image-wrapper">
    <div class="title-wrapper">
      <p class="title-text">
        <span>{title}</span>{label}
        <span class="italic">{name}</span>{local}
      </p>
    </div>
    <a href={href}>
      <img src={src} alt={alt} loading="lazy" class="image-cover" />
    </a>
  </div>
</div>

<style define:vars={{ color }}>
  .image-wrapper {
    position: relative;
  }

  .image-wrapper:hover p {
    filter: blur(1px);
  }

  .title-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    top: 0.3rem;
    position: absolute;
  }

  .title-text {
    color: var(--color);
    font-family: var(--font-body);
    font-size: var(--text-sm);
    margin: 0;
  }

  span {
    color: var(--color);
    font-family: var(--font-brand);
    font-size: var(--text-sm);
    margin-right: 0.5rem;
  }

  .italic {
    color: var(--color);
    font-family: var(--font-italic);
    font-size: var(--text-sm);
    margin: 0;
  }

  .image-wrapper a {
    text-decoration: none;
    display: block;
  }

  .image-cover {
    display: block;
    width: 100%;
  }
</style>
