---
interface Props {
  title: string;
  color: string;
  label: string;
  src: string;
  href?: string | undefined;
  alt?: string | undefined;
}
const { title, color, label, href, src, alt } = Astro.props;
---

<div class="article-wrapper">
  <div class="image-wrapper">
    <div class="title-wrapper">
      <p class="title-text"><span>{title}</span>{label}</p>
    </div>
    <a href={href}>
      <img src={src} alt={alt} loading="lazy" class="image-cover" />
    </a>
  </div>
</div>

<style define:vars={{ color }}>
  .image-wrapper {
    position: relative;
  }

  .title-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    top: 0.3rem;
    position: absolute;
  }

  .title-text {
    color: var(--color);
    font-family: "CenturyBook";
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 100%;
    margin: 0;
  }

  .title-text span {
    color: var(--color);
    font-family: var(--font-brand);
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 100%;
    margin-right: 0.5rem;
  }

  .image-wrapper a {
    text-decoration: none;
    display: block;
  }

  .image-cover {
    display: block;
    width: 100%;
  }
</style>
